.root {
  display: inline-block;
  padding: 0em 1em 0.5em;
}

.root ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  padding: 0;
  list-style-type: none;
  row-gap: 20px;
}

.root li {
  display: inlin-block;
}

.root button {
  all: unset;
  font-size: 1.3em;
  border: 1px solid rgba(20, 20, 20, 0.3);
  border-radius: 0.3em;
  padding: 0.5em;
  color: var(--white);
  cursor: pointer;
}

.root button:disabled {
  border-color: rgba(0, 0, 0, 0);
  cursor: default;
}

@media screen and (min-width: 700px) {
  .root ul {
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}
